body {
    background: linear-gradient(#7fda84, #f55d21);
    font-family: 'Chakra Petch', sans-serif;
}

.portfolio-card {
    display: inline-block;
    width: 30%;
}

.intro, .portfolio {
    margin: 20px;
}

.fab {
    color: black;
    margin: 15px;
    font-size: 22px;
}

.top {
    margin: 0 auto;
}

.is-child {
    background-color: lightgoldenrodyellow;
}

.navbar {
    background-color: lightgoldenrodyellow;
}

.contact, .intro, .portfolio {
    text-align: center;
}

#rotator {
    width: 50%;
    height: 60%;
    border-radius: 10px;
}

.bottom {
    background-color: lightgoldenrodyellow;
}