body {
    font-family: 'Maven Pro', sans-serif;
    background-color: lightgoldenrodyellow;
}

.navbar-nav {
    text-align: right;
}

.fab {
    margin: 10px;
}

.accordion {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: white;
}

.navbar-text {
    font-size: 24px;
}