body {
    font-family: 'Maven Pro', sans-serif;
    background-image: url(../images/white-triangle-369b8d2d.jpg);
    background-size: cover;
    background-color: #eee;
}

.navbar-text {
    font-size: 20px;
}

#navbarNavAltMarkup {
    font-weight: bold;
}

.fab {
    margin-left: 10px;
}

.fas, .far {
    font-size: 50px;
}

.container {
    width: 60%;
    margin-left: 80px;
    margin: 3%;
    margin-top: 100px;
    margin-bottom: 140px;
    background-color: rgb(48, 47, 47);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}

#marathon {
    border: 1px solid grey;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 5px;
}

.about-text {
    text-indent: 2em;
}

.row {
    margin: 10px;
    border-bottom: 4px solid grey;
    font-size: 18px;
}

.img-thumbnail {
    margin: 10px;
}

.btn {
    margin-bottom: 10px;
}

.copyright {
    font-size: 14px;
    font-weight: bold;
}

/* Eliminates page margins and adjusts container width when navigating mobile devices */

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
        margin-top: 100px;
        margin-bottom: 140px;
        margin-left: 0px;
    }
}